<h2 class="content-subhead">Search</h2>

<form action="/search" method="get">
  <input name="query" value="<%= params[:query] %>">
  <button type="submit">Search</button>

  <% if @search_result.nil? %>
    <p>Sorry, no matches were found </p>
  <% else %>
    <h3>
      Result for: "<%= params[:query] %>"
    </h2>
    <ul>
      <% @search_result.each do |chapter| %>
        <li>
          <h4>
            <%= chapter[:title] %>
          </h4>
        </li>
        <ul>
          <% chapter[:paragraphs].each do |para| %>
            <li>
              <a href="/chapters/<%= chapter[:number]%>#<%= para[:id]%>">
                <%= para[:content] %>
              </a>
            </li>
          <% end %>
        </ul>
      <% end %>
    </ul>
  <% end %>


</form>